
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Büyüteç @ViewBag.Title</title>
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.6 -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Theme style -->
    <link href="~/Content/AdminLTE.min.css" rel="stylesheet" />
    <link href="~/Content/skin-blue.min.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />

</head>

<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        <!-- Main Header -->
        <header class="main-header">
            <!-- Logo -->
            <a href="/Proje/Index" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini"><b>BP</b>YS</span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg"><b>BÜYÜTEÇ</b>PYS</span>
            </a>
            <!-- Header Navbar -->
            <nav class="navbar navbar-static-top" role="navigation">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>
                <!-- Navbar Right Menu -->
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">

                        <li class="dropdown user user-menu">
                            <!-- Menu Toggle Button -->
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <!-- The user image in the navbar-->
                                <img src="http://www.vanhemmat.com/prosessi/1225770283668564458emyller_magnifying_glass_svg_med.png" class="user-image" alt="User Image">
                                <!-- hidden-xs hides the username on small devices so only the image appears. -->
                                @if (Session["kulMail"] != null)
                                { <span class="hidden-xs">@Session["kulAd"].ToString()</span> }
                            </a>
                            <ul class="dropdown-menu">
                                <!-- The user image in the menu -->
                                <li class="user-header">
                                    <img src="http://www.vanhemmat.com/prosessi/1225770283668564458emyller_magnifying_glass_svg_med.png" class="img-circle" alt="User Image">
                                    <p>
                                        @if (Session["kulId"] != null)
                                        { <span class="hidden-xs">@Session["kulAd"].ToString()</span> }
                                    </p>
                                </li>
                                <!-- Menu Body -->
                                
                                <!-- Menu Footer-->
                                <li class="user-footer">
                                   
                                    <div class="pull-right">
                                        <a href="@Url.Action("Cikis","Home")" class="btn btn-primary btn-flat">Çıkış</a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <!-- Control Sidebar Toggle Button -->
                       
                    </ul>
                </div>
            </nav>
        </header>
        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                <!-- Sidebar user panel (optional) -->
                <div class="user-panel">
                    <div class="pull-left image">
                        <img src="http://www.vanhemmat.com/prosessi/1225770283668564458emyller_magnifying_glass_svg_med.png" class="img-circle" alt="User Image">
                    </div>
                    <div class="pull-left info">
                        <p>@if (Session["kulMail"] != null)
                        { <span class="hidden-xs" id="kulAdSoyad">@Session["kulAd"]</span> }</p>
                    </div>
                </div>
                <!-- Sidebar Menu -->
                <ul class="sidebar-menu">
                    <li class="header">BÜYÜTEÇ.</li>
                    <!-- html.Action("","") Düzenlenecek buralar. -->
                    <li><a href="@Url.Action("ProjeOlustur","Proje")"><i class="fa fa-plus"></i> <span>Proje Oluştur</span></a></li>
                    <li><a href="@Url.Action("Index","Proje")"><i class="fa fa-cubes"></i> <span>Projeler</span></a></li>
                    <li><a href="@Url.Action("Index","Profil")"><i class="fa fa-users"></i> <span>Profil</span></a></li>
                    <li><a href="@Url.Action("SonHareketler","Home")"><i class="fa fa-map-signs"></i> <span>Son Hareketler</span></a></li>
                </ul>
                <!-- /.sidebar-menu -->

            </section>
            <!-- /.sidebar -->
        </aside>
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                
            </section>
            <!-- Main content -->
            <section class="content">
                @RenderBody()
            </section>
            <!-- /.content -->
        </div>
   
        <footer class="main-footer">
            <!-- To the right -->
            <div class="pull-right hidden-xs">
                Hakları saklı felan değil github tan alabilirsiniz.
            </div>
            <!-- Default to the left -->
            <strong>Copyright &copy; 2016 <a href="#">MKA</a>.</strong>Geliştirici Takımı.
        </footer>
       
        <!-- /.control-sidebar -->
        <div class="control-sidebar-bg"></div>
    </div>
    <!-- ./wrapper -->

    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/jquery-2.2.3.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/app.min.js"></script>
    <script src="~/Scripts/loginScript/jquery-ui.js"></script>
    <script>

    </script>
    </body>
</html>

